{% load staticfiles %}
<html>
    <head>
        <title>Django blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
     <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Django Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                <li><a href="{% url 'user_post_list' %}">My posts</a></li>
              </ul>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> New post</a></li>
                  <li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span> Edit post</a></li>
                  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out ({{ user.username }})</a></li>
                  {% else %}
                  <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <div class="container-fluid">
          {% block login %}
          {% endblock %}
          {% block register %}
          {% endblock %}
	    </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
    </body>
</html>
